body {
  background-color: aliceblue;
}

.App {
  text-align: center;
  font-family: 'Roboto';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* heading */
.header-title{
  font-weight: 400;
}

/* divider */
.container-divider{
  display: flex;
  align-items: center;
}


.border-divider{
  border-bottom: 1px solid black;
  width: 100%;
}

.content-divider {
  padding: 0 10px 0 10px;
}

.content-divider .secondary-title {
  white-space: nowrap;
}

.CardForm {
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.button-add-new{
  margin-top: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.CardContact{
  margin-right: 40px;
  margin-left: 20px;
}

.CardInner{
  padding-right: 20px;
}

.listItemAvatar{
  margin-right: 20px;
}